html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #393939;
  line-height: 1.6;
}

.wrapper {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  background-image: linear-gradient(rgba(32, 60, 70, 0.7), rgba(61, 108, 103, 0.6)), url(/images/ocean-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2,
h3 {
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 0;
}

.gallery {
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.gallery__box {
  background-color: white;
  padding: 10px;
}
.gallery img {
  width: 100%;
}
.gallery h4 {
  text-align: center;
}
.gallery p {
  padding: 10px;
  text-align: justify;
}

.intro__gallery {
  grid-template-columns: 1fr 1fr;
}
.intro__gallery img {
  background-color: white;
  padding: 5px;
}

.footer {
  background-color: #123b54;
  max-width: 100%;
  padding: 60px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer__icon {
  width: 30px;
  margin: 0 20px;
}

.landingpage {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
/* useless 
     .landing-content {color: white;}
     .landing-content h1 {font-size: 70px; text-align: center; margin-bottom: 0;}
    .landing-menu a {color: white;}
   */
@media (max-width: 800px) {
  .back-video {
    display: none;
  }
  body {
    background: url(/images/ocean-4.jpg);
    background-size: cover;
  }
}
.hero {
  padding: 5px 30px;
}
.hero__text {
  color: white;
  text-align: center;
  margin-top: 50px;
  text-shadow: 0 3px 10px rgba(78, 77, 77, 0.7);
}
.hero p {
  font-size: 16px;
  margin-bottom: 60px;
}
.hero img {
  margin-bottom: 0;
}

.container-table {
  max-width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 150px;
  gap: 30px;
}
@media screen and (min-width: 800px) {
  .container-table {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }
}

.table {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(64, 123, 255, 0.1215686275) 0px 4px 6px;
  padding: 20px;
}
.table h2,
.table h3 {
  color: #393939;
}
.table h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  margin-top: 10px;
  background-color: #393939;
}

form {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 90%;
  max-width: 600px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid white;
  background: white;
  opacity: 0.6;
}

button {
  padding: 10px 0;
  color: white;
  background: transparent;
  border: 1px solid white;
  width: 100%;
  font-size: 16px;
}

.map-container {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
.map-container__text {
  padding: 30px;
  background-color: white;
}
.map-container iframe {
  padding: 30px;
  background-color: white;
}
.map-container h3 {
  color: #393939;
  text-align: left;
}

.booking {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  padding: 0;
  width: 500px;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
}
.booking p {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #123b54;
}
.menu__list a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu__item {
  border-bottom: 1px solid white;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__toggler {
  color: white;
  font-size: 20px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 0px;
}

@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    background-color: transparent;
  }
  .menu__item {
    border-bottom: none;
    flex: 1 1 0;
    text-align: center;
  }
  .menu__list a:hover {
    border: 1px solid #DAE9EF;
    border-radius: 20px;
  }
}
/*

.menu__list {
    list-style-type: none;
    padding: 0;
    display: flex;

    a {text-decoration: none; 
        color: white; text-align: center; 
        display: block;
        padding: 10px;
    }
}

.menu__item {flex: 1 1 0,}


.menu__list a:hover {border: 1px solid colors.$secondary-color; border-radius: 20px;}

*/
.home__link {
  display: flex;
  justify-content: center;
}
.home__link a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.home-content {
  text-align: justify;
  padding: 30px;
  width: 90%;
  margin: auto;
  color: white;
}
@media screen and (min-width: 800px) {
  .home-content {
    width: 80%;
  }
}
.home-content__text {
  margin-bottom: 50px;
}
.home-content__gallery {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 800px) {
  .home-content__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.home-content img {
  background-color: white;
  padding: 5px;
}

.intro-icons {
  max-width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}
@media screen and (min-width: 800px) {
  .intro-icons {
    max-width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 70px auto;
  }
}

.intro-icon__icon {
  width: 60px;
}

.intro-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding: 20px 0;
  box-shadow: rgba(64, 123, 255, 0.1215686275) 0px 4px 6px;
}
@media screen and (min-width: 800px) {
  .intro-icon {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro-icon__text {
  padding: 0;
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .intro-icon__text {
    margin: 0;
    margin-top: 10px;
  }
}

.icon__airbnb {
  width: 150px;
}/*# sourceMappingURL=style.css.map */