@use 'colors';
@use 'basic';



.gallery {display: grid;
grid-column: 1fr;
row-gap: 40px}

.box {
background-color: white;
padding: 30px ;
max-width: 70%; margin: auto;
border: 2px white;
display: grid;
grid-template-columns: 1fr 1fr ;
}

