@use 'colors';
@use 'basic';



.gallery {max-width: 800px;
margin: auto;
display: grid;
gap: 20px;
grid-template-columns: 1fr;

&__box {
background-color: white;
padding: 5px;}

img {width: 100%;}

figcaption {text-align: center;}

}

  

