@use 'basic';
@use 'colors';
@use 'activities';
@use 'pricetable';
@use 'form';
@use 'map';

//variables


//template

//hero

.hero {padding: 5px 30px }

.hero-text {
    color: white;
    font-family: basic.$headrfont;
    text-align: center;
    margin-top: 50px;
    text-shadow: basic.$textshadow;

    h1 {font-size: basic.$h1-fontsize; margin-bottom: 0;}
    p {font-size: 16px; font-family: 'Quicksand', sans-serif;}
    
}

.hero {height: 45vh;}

//menu {padding: 10px 60px;}
    
.menu__list {
    list-style-type: none;
    padding: 0;
    display: flex;}

.menu__item {flex: 1 1 0,}

.menu__list a {text-decoration: none; 
    color: white; text-align: center; 
    display: block;
    padding: 10px;
}

.menu__list a:hover {border: 1px solid colors.$secondary-color; border-radius: 20px;}


.intro-text{
    text-align: justify;
    background-color: white; 
    padding: 50px 150px;
    width: 100%;
    margin-bottom: 200px;
    margin: auto;
}

//index 
//ikony
.intro-icons {
    max-width: 700px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    ;gap: 70px;
}
.intro-icon__icon {width: 60px;}

.intro-icon {display: flex; flex-direction: column; align-items: center; 
background-color: white;
border-radius: 30px; padding: 50px 0;
box-shadow: #407BFF1F 0px 4px 6px;}

.intro-icon__text {padding: 0; margin: 0; margin-top: 10px;}


//footer
.footer {
    background-color: colors.$primary-color;
    max-width: 100%;
    padding: 60px; 
    display: flex;
    justify-content: center;}

.media__icon {width:30px; margin: 0 20px;}



.icon__airbnb {width: 150px;}




//landing page

.landingpage {width: 100%; height: 100vh; 
   // background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); 
    position: relative;
    padding: 0 5%;
    display: flex; 
    align-items: center;
    justify-content: center;}
    
    .back-video {position: absolute; right: 0; bottom: 0; z-index: -1;
    object-fit: cover;}
    
    @media (min-aspect-ratio: 16/9){
        .back-video{
            width: 100%;
            height: auto;
        }}
    
    @media (max-aspect-ratio: 16/9){
        .back-video{
            width: 100%;
            height: auto;
            }}

    .landing-content {color: white;}
    .landing-content h1 {font-size: 70px; font-family: basic.$headrfont; text-align: center; margin-bottom: 0;}
   .landing-menu a {color: white;}
  
    
    //end of landing page


