<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="wrapper">

<!--Hero sekce-->

 
<div class="hero">


    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu__checkbox">
    
        <label for="menu__checkbox" class="menu__toggler">
            Menu
        </label>

        <ul class="menu__list menu__list--mobile">
            <li class="menu__item menu__item--mobile"><a href="/home/" class="menu__link">Home</a></li>
            <li class="menu__item menu__item--mobile"><a href="/apartment/" class="menu__link">Aparmtent</a></li>
            <li class="menu__item menu__itme--mobile"><a href="/price/" class="menu__link">Price</a></li>
            <li class="menu__item menu__item--mobile"><a href="/activities/" class="menu__link">Activities</a></li>
            <li class="menu__item menu__item--mobile"><a href="/gallery/" class="menu__link">Gallery</a></li>
            <li class="menu__item menu__item--mobile"><a href="/contact/" class="menu__link">Contact</a></li>
        </ul>
    </nav>

    <div class="hero__text">
        <h1>Sea La Vie</h1>
        <p>
            Surf and Work (or just chill) in our vactation apartment for digital nomads in Salinas, Asturias. 
        </p>
    </div>

   
   <img class="hero__img" src="/images/wave-2.svg" alt="wave ilustration">
  
    
</div>



<!--obsah stranky-->
<main>

{{ content | safe }}

</main>

<!--footer-->

<footer class="footer">
    <div class="footer__left">
        <div class="footer__box">
            <img class="footer__icon" src="/images/location-icon.svg" alt="location icon">

             <p>C. Alcalde Luis Treillard, 11 <br>
        334 05 Salinas</p>
        </div>

        <div class="footer__box">
            <img class="footer__icon" src="/images/email-icon.svg" alt="mail icon">
        
             <p>salinas@gmail.com</p>
        </div>

        <div class="footer__box">
            <img class="footer__icon" src="/images/phone-icon.svg" alt="phone icon">
            <p>+34 000 000 000</p>
        </div>
    </div>

    <div class="footer__right">
        <p>For direct booking:</p>
        <img class="footer__icon--bigger" src="/images/airbnb2-icon.svg">
        
    </div>
    
</footer>


</div>
</body>
</html>