<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="wrapper">

<!--Hero sekce-->

 
<div class="hero">


    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu__checkbox">
    
        <label for="menu__checkbox" class="menu__toggler">
            Menu
        </label>

        <ul class="menu__list">
            <li class="menu__item"><a href="/home/" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="/apartment/" class="menu__link">Aparmtent</a></li>
            <li class="menu__item"><a href="/price/" class="menu__link">Price</a></li>
            <li class="menu__item"><a href="/activities/" class="menu__link">Activities</a></li>
            <li class="menu__item"><a href="/gallery/" class="menu__link">Gallery</a></li>
            <li class="menu__item"><a href="/contact/" class="menu__link">Contact</a></li>
        </ul>
    </nav>

    <div class="hero__text">
        <h1>Sea La Vie</h1>
        <p>
            Surf and Work (or just chill) in our vactation apartment for digital nomads in Salinas, Asturias. 
        </p>
    </div>

   
   <img src="/images/wave-2.svg">
  
    
</div>



<!--obsah stranky-->
<main>

{{ content | safe }}

</main>

<!--footer-->

<footer class="footer">
    <div class="foooter__icons">
        <img class="footer__icon" src="/images/whatsapp-icon.svg" alt="whatsapp icon">
        <img class="footer__icon" src="/images/gmail-icon.svg" alt="gmail icon">
        <img class="footer__icon" src="/images/fb-icon.svg" alt="facebook icon">
        <img class="footer__icon" src="/images/ig-icon.svg" alt="instagram icon">
        <img class="footer__icon" src="/images/airbnb1-icon.svg" alt="airbnb icon">
    </div>
</footer>


</div>
</body>
</html>