<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
</head>

<body>

/*baner s menu*/
<hero>
    <h1>Sea La Vie</h1>
    <p>
        Surf and Work (or just chill) in Salinas, Asturias aka vactation apartment for digital nomads.
    </p>
    <nav>
        <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="/apartment/" class="menu__link">Aparmtent</a></li>
            <li class="menu__item"><a href="/price/" class="menu__link">Price</a></li>
            <li class="menu__item"><a href="/activities/" class="menu__link">Activities</a></li>
            <li class="menu__item"><a href="/gallery/" class="menu__link">Gallery</a></li>
            <li class="menu__item"><a href="/contact/" class="menu__link">Contact</a></li>
        </ul>
    </nav>
</hero>

/*obsah stranky*/
<main>

</main>

/*footer*/
<footer>

</footer>
    
</body>
</html>