@use '../abstracts/basic';
@use '../abstracts/colors';

.hero {
    padding: 5px 30px;
   


&__text {
    text-align: center;
    margin-top: 50px;
    text-shadow: basic.$textshadow;}

p {
    font-size: 16px; 
    margin-bottom: 60px;
}

img {
    margin-bottom: 0;}

}
