@use '../abstracts/basic';
@use '../abstracts/colors';

.hero {
    padding: 5px 30px;
   


&__text {
    text-align: center;
    margin-top: 50px;
    text-shadow: basic.$textshadow;}

p {
    font-size: 18px;
    font-weight: 600; 
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;

}

img {
    margin-bottom: 0;}

}
