@use '../abstracts/basic';
@use '../abstracts/colors';



//index 
//ikony
.intro-icons {
    max-width: 60% ;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    ;gap: 30px;

    @media screen and (min-width: 800px) {
        max-width: 60%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px; 
        margin: 70px auto;
    }


}
.intro-icon__icon {width: 60px;}

.intro-icon {display: flex; align-items: center;
justify-content: center; 
background-color: white;
border-radius: 30px;
padding: 20px 0;
box-shadow: #407BFF1F 0px 4px 6px;

@media screen and (min-width: 800px) {
    padding: 50px 0;
    display: flex; flex-direction: column; align-items: center; 
}

}

.intro-icon__text {padding: 0; margin-left: 10px;
 
    @media screen and (min-width: 800px){
        margin: 0;
        margin-top: 10px;
    }
}








