@use '../abstracts/basic';
@use '../abstracts/colors';


.map-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    justify-items: center;
    gap: 30px ;


    @media screen and (min-width: 800px){
        flex-direction: row;
        gap: 60px;
         }



    iframe {
        padding: 10px; 
        background-color: white; 
    }

    h3 { 
     text-align: left; 
     margin: 0;
    }

    img {width: 170px;}

}










