@use '../abstracts/basic';
@use '../abstracts/colors';


//mobile menu

.menu__checkbox {
    position: absolute;
    left: -9999px;
}

.menu__list {
display: none; 
margin: 0;
padding: 0;
list-style: none;
background-color: colors.$primary-color;



a {
display: block;
padding: 10px;
text-decoration: none;
color: white;}
}

.menu__item {
    border-bottom: 1px solid white;
}
 

.menu__checkbox:checked ~ .menu__list {
    display: block;}

.menu__toggler {
    color: white; 
    font-size: 20px; 
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 0px;}


//computer menu
@media screen and (min-width: 800px) {

    .menu__toggler {display: none;}

    .menu__list {
        display: flex; 
        background-color: transparent;}
    
    .menu__item {
        border-bottom: none;
        flex: 1 1 0;
        text-align: center;}

    .menu__list a:hover {
        border: 1px solid white; 
        border-radius: 20px;
        }

    a {font-weight: 600;}
}




.menu__list--landing {
    width: 170px;
    margin: auto;
    display: flex; 
    flex-direction: column;
    background-color: transparent;
    gap: 20px; 

    /*
    a {border: 1px solid colors.$secondary-color; 
        border-radius: 20px;} */

    @media screen and (min-width: 800px) {
        flex-direction: row;
        
        
    }
}


.menu__item--landing {border-bottom: none;
flex: 1 1 0;
text-align: center;

a:hover {
    border: 1px solid white; 
    border-radius: 20px;
    }

}



/*

.menu__list {
    list-style-type: none;
    padding: 0;
    display: flex;

    a {text-decoration: none; 
        color: white; text-align: center; 
        display: block;
        padding: 10px;
    }
}

.menu__item {flex: 1 1 0,}


.menu__list a:hover {border: 1px solid colors.$secondary-color; border-radius: 20px;}

*/