@use '../abstracts/basic';
@use '../abstracts/colors';


.container-table {
    max-width: 60%; 
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media screen and (min-width: 800px){
        max-width: 70%;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 60px; 
        
    }

}
  
.table {text-align: center;
background-color: white;
color: colors.$bodydark;
border-radius: 30px;
box-shadow: #407BFF1F 0px 4px 6px;
padding: 20px;

    
  
    h3 {margin-bottom: 0;}
    h4 {margin-bottom: 0;}

    &__season {margin-top: 0;
    font-style: italic;}
}

.price__image {
    max-width: 100%;
    padding: 10px;
    background-color: white;


    @media screen and (min-width: 800px){
        grid-column: span 2;
    }

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}