@use '../abstracts/basic';
@use '../abstracts/colors';

//landing page




.back-video {display: none;}
body {
min-height: 100vh;
background: url(/images/ocean-4.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-size: 100% auto;}



@media (min-width: 800px) {

.landingpage {
    width: 100%; 
    min-height: 100vh; 
    /*background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex; 
    align-items: center;
    justify-content: center;}
     
.back-video {
    display: block;
    position: absolute; right: 0; bottom: 0; z-index: -1;
    object-fit: cover;}
     
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
         }}
     
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
         }}

        }
 

 
       