@use '../abstracts/basic';
@use '../abstracts/colors';


//link home page - find out more


.home__link {display: flex; 
justify-content: center;

a { display: inline-block;
    text-decoration: none;
    color: white;
    font-family: basic.$headerfont ;
    font-size: basic.$h2-fontsize;
}

}


    
.icon__airbnb {width: 150px;}

  