@use '../abstracts/basic';
@use '../abstracts/colors';



.menu__list {
    list-style-type: none;
    padding: 0;
    display: flex;

    a {text-decoration: none; 
        color: white; text-align: center; 
        display: block;
        padding: 10px;
    }
}

.menu__item {flex: 1 1 0,}


.menu__list a:hover {border: 1px solid colors.$secondary-color; border-radius: 20px;}